name: ML CI - Fase 1
on: 
    push:
        paths:
            - "src/**"
            - "requirements.txt" 
jobs: 
  validate-ml:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
            python-version: '3.10'

      - name: Install dependecies
        run: |
          pip install -r requirements.txt
      - name: Run training simulation
        run: |
          python src/train.py